<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->

            <div class="col-md-2 floting padding-0">
                <div class="form-group filter-search">
                    
                      <label>   @ViewBag.Title</label>
                   
                    
                </div>
            </div>

            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class=" container-fixed-lg">


    <div class="view-port">
        <!-- BEGIN Note List !-->
        <div class="view bg-wht">
            <div class="col-md-12 p-t-15 p-b-15">
                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Regions
                        </span>
                    </p>
                </div>
                <ul class="settings-list">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("CountryIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-globe"></i>
                            </span>
                            <p>Country</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("StateIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-cloud"></i>
                            </span>
                            <p>State</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("CityIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-map-marker"></i>
                            </span>
                            <p>City</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("AreaIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-area-chart"></i>
                            </span>
                            <p>Area</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("SubareaIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="pg-home"></i>
                            </span>
                            <p>Sub Area</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("LanguageIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-language"></i>
                            </span>
                            <p>Language</p>
                        </a>
                    </li>

                </ul>
                <ul class="settings-list">
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("NationalityIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-flag"></i>
                            </span>
                            <p>Nationality</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("CurrencyIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-dollar"></i>
                            </span>
                            <p>Currency</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("ReligionIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                            <p>Religion</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("DateFormatIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-calendar"></i>
                            </span>
                            <p>Date Format</p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("TimeFormatIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="pg-clock"></i>
                            </span>
                            <p>Time Format</p>
                        </a>
                    </li>

                </ul>

                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Type
                        </span>
                    </p>
                </div>
                <ul class="settings-list  orangee">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("AppointmentTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-handshake-o"></i>
                            </span>
                            <p>
                                Appointment Type
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("BusinessTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <p>
                                Business Type
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("ContactTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-phone"></i>
                            </span>
                            <p>
                                Contact Type
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("DocumentTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-file-code-o"></i>
                            </span>
                            <p>
                                Document Type
                            </p>
                        </a>
                    </li>
                    @*<li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("EmailTemplateTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-envelope-o"></i>
                            </span>
                            <p>
                                Email Template Type
                            </p>
                        </a>
                    </li>*@
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("FurnishedTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-image"></i>
                            </span>
                            <p>
                                Furnished Type
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="settings-list  orangee">

                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("IndustryTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-building"></i>
                            </span>
                            <p>
                                Industry Type
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("PropertyTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-soundcloud"></i>
                            </span>
                            <p>
                                Property Type
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("SalesActivityTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-users"></i>
                            </span>
                            <p>
                                Sales Activity Type
                            </p>
                        </a>
                    </li>
                </ul>

                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Pipeline
                        </span>
                    </p>
                </div>
                <ul class="settings-list vibgy">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("LeadStatusIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-user"></i>
                            </span>
                            <p>
                                Lead Status
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("DealStageIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-dollar"></i>
                            </span>
                            <p>
                                Deal Stage
                            </p>
                        </a>
                    </li>

                </ul>
                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Work Flow
                        </span>
                    </p>
                </div>
                <ul class="settings-list orangee">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("WorkFlowTableIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                            <p>
                                Work Flow Table
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("WorkFlowTableColumnIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </span>
                            <p>
                                Work Flow Table Column
                            </p>
                        </a>
                    </li>

                </ul>

                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Others
                        </span>
                    </p>
                </div>
                <ul class="settings-list">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("ContactTitleIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-mobile"></i>
                            </span>
                            <p>
                                Contact Title
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("DurationDaysIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="pg-calender"></i>
                            </span>
                            <p>
                                Duration Days
                            </p>
                        </a>
                    </li>
                    @*<li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("EmailTemplateIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-envelope"></i>
                            </span>
                            <p>
                                Email Template
                            </p>
                        </a>
                    </li>*@
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("FacilityIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-arrows"></i>
                            </span>
                            <p>
                                Facility
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3221" href="@Url.Action("ListingPortalIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-list-alt"></i>
                            </span>
                            <p>
                                Listing Portal
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("LostReasonsIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="pg-trash_line"></i>
                            </span>
                            <p>
                                Lost Reasons
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="settings-list">

                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("SourceIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-circle-o-notch"></i>
                            </span>
                            <p>
                                Source
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("PaymentModeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-money"></i>
                            </span>
                            <p>
                                Payment Mode
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("ScoreColumnIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-signal"></i>
                            </span>
                            <p>
                                Score Column
                            </p>
                        </a>
                    </li>
                    @*<li class="settings-list-item">
                            <a id="ember3200" href="@Url.Action("ProjectIndex", "Project")" class="ember-view">
                                <span>
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                <p>
                                    Project
                                </p>
                            </a>
                        </li>*@
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("ContactStatusIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-phone"></i>
                            </span>
                            <p>
                                Contact Status
                            </p>
                        </a>
                    </li>
                </ul>
                <div class="heading m-t-20">
                    <p class="hdr-lined">
                        <span class="hdr-lined-txt strong text-uppercase">
                            Ticket
                        </span>
                    </p>
                </div>
                <ul class="settings-list orangee">
                    <li class="settings-list-item">
                        <a id="ember3171" href="@Url.Action("TicketCategoryIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                            <p>
                                Ticket Category
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("TicketPriorityIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </span>
                            <p>
                                Ticket Priority
                            </p>
                        </a>
                    </li>
                    <li class="settings-list-item">
                        <a id="ember3200" href="@Url.Action("TicketTypeIndex", "Masters")" class="ember-view">
                            <span>
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </span>
                            <p>
                                Ticket Type
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
