<script>
    function AssignProject() {
        $.post("/Json/AddAssingProject", { property_listing_id: $('#property_listing_id').val(), user_id: $('#user_id').val(), project_id: $('#project_id').val(),company_id: @ViewBag.companyId }, function (data) {
            if (data.Message.indexOf("success") > -1) {
                bindProjects($('#user_id').val());
                $('#project_id').val("");
                $('#property_listing_id').val("");
                $('#project_id').select2("");
                $('#property_listing_id').select2("");
                base.showMessage(data.Message, "success", "", "", "");
                AssignReportBindDataTable();
            }
            else {
                bindProjects($('#user_id').val());
                base.showMessage(data.Message, "error", "", "", "");
            }
        });
    }
    function RemoveData(user_properties_id) {
        $.post("/Json/RemoveUserPropertiesListingId", { property_listing_id: user_properties_id }, function (data) {
            if (data.Message.indexOf("success") > -1) {
                bindProjects($('#user_id').val());
                AssignReportBindDataTable();
            }
            else {
                bindProjects($('#user_id').val());
            }
        });
    };
    function bindProjects(args) {
        var companyId = '@ViewBag.companyId';
        var ownerId = '@ViewBag.ownerId';
        $('#user_id').val(ownerId);
        var table = $('#example2').DataTable();
        table.destroy();
        $('#example2').DataTable({
            pageLength: 50,
            language: {
                search: "",
                searchPlaceholder: "Search"
            },
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'Copy'
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o"></i>',
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF'
                }
            ],
            dom: 'Bfrtip',
            pageLength: 50,
            "ajax": {
                type: "POST",
                url: '@Url.Action("AssignedProjectList", "Json")',
                datatype: "json",
                data: { id: ownerId },
                dataSrc: ""
            },
            columns: [
                { data: "user_name", name: "user_name", autoWidth: true },
                { data: "project_name", name: "project_name", autoWidth: true },
                { data: "unit_number", name: "unit_number", autoWidth: true },
                {
                  data: "user_property_listing_id",
                  "render": function (data, type, row) {
                      return "<div class='action-btn'><a href='#'  onclick='RemoveData(" +row.user_property_listing_id +");'> <i class='fa fa-trash'></i> </a> </div>"
                  }
                }
            ],
        });
    };

    $('#project_id').on('change', function () {
        ////
        var projectid = $('#project_id').val();
        var userid = $('#user_id').val();
        if (projectid != '') {
            $.post("/Json/GetSuperAdminPropertyUnit", { project_id: projectid, userId: userid, companyId: '@ViewBag.companyId' }, function (data) {
                $("#property_listing_id").empty();
                $("#property_listing_id").append($("<option/>").val("").text("Please Select"));
                $("#property_listing_id").append($("<option/>").val("ALL").text("All Units"));
                $.each(data, function () {
                    // ////
                    $('#property_listing_id').append($("<option/>").val(this.Value).text(this.Text));
                });
            });
        }
    });
    $(document).ready(function () {
        bindProjects();
        $('#project_id').select2();
        $('#property_listing_id').select2()
    });
</script>
<style>
    .action-btn {
        text-align: left;
        left: 7px;
    }

    .multy .select2-container .select2-selection {
        border: 0px solid rgba(0, 0, 0, 0.07) !important;
        padding: 0px 0px;
        max-height: 41px;
        overflow: auto;
    }

    .multy label {
        padding-top: 5px;
        margin-bottom: 0;
    }

    .pro-labl {
        margin-bottom: 17px !important;
    }
</style>
<div class="modal-header clearfix text-left">
    <h5>Assign Project</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close fs-17"></i>
    </button>
</div>
<div class="modal-body p-l-15 p-r-15">
    <div class="view-port">
        <div class="view bg-wht">
            <div class="card card-default m-b-0 edit-contact p-l-0  p-r-0">

                <form class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label pro-labl">Project</label>
                            <br>
                            @Html.DropDownList("project_id", ViewBag.project_list as List<SelectListItem>, "Please Select", new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group multy">
                            <label class="control-label">Unit</label>
                            <br>
                            <select id="property_listing_id" class="form-control" data_init_plugin="select2" multiple="multiple" required="required" style="max-width: 179px;  min-width:150px; "></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin-top:19px !important;" onclick="AssignProject()" class="btn btn-success waves-effect waves-light m-l-10 btn-md">Save</button>
                    </div>
                    @Html.Hidden("user_id")

                </form>
            </div>
        </div>
    </div>

    <div class="view-port">
        <div class="view bg-wht">
            <div class="card card-default m-b-0">
                <div class="card-block sub-box table-responsive filtr-srch maxheight">
                    <table id="example2" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Project Name</th>
                                <th>Unit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
